<div class="container">
  <div class="row">
    <app-logsSearch (getResultAutocomplete)="getResultAutocomplete($event)"></app-logsSearch>
    <div class="col-md-12">
      <div class="card">
        <div class="card-block clearfix">
          <table class="table table-hover">
            <tbody class="">
              <tr *ngFor="let log of fetchedLogs">
                <td class="">
                  <div *ngFor="let user of log.users">
                    {{user.profile.name}}
                  </div>
                </td>
                <td class="">{{log.logName}}</td>
                <td class="">{{log.createdAt | date:'yMdjm'}}
                </td>
                <td class="">
                  <div *ngFor="let user of log.writtenBy">
                    By {{user.profile.name}}
                  </div>
                </td>
                <td class="">
                  <div *ngFor="let el of log.missions">
                    <div [routerLink]="['/mission/' + el._id]">
                      Mission: {{el.title}}
                    </div>
                  </div>
                  <div *ngFor="let el of log.strats">
                    <div [routerLink]="['/strat/' + el._id]">
                      Strat: {{el.title}}
                    </div>
                  </div>
                  <div *ngFor="let el of log.documents">
                    <div [routerLink]="['/mission/' + el._id]">
                      Document: {{el.details.name}}
                    </div>
                  </div>

                </td>
                <td class="">
                  {{log.type}}
                </td>

                <!-- <td class="">{{project.details.customer}}</td>
              <td class="">{{project.details.name}}</td>
              <td class="">{{project.details.date}}</td>
              <td class="">
                <div *ngFor="let assignedTo of project.users">
                  {{assignedTo.profile.name}} {{assignedTo.profile.lastName}}
                </div>

              </td> -->
                <!-- <td class="centre btn btn-outline-info">{{project.StatusProject}}</td> -->
              </tr>
            </tbody>
          </table>

          <div class="has-text-centered">
            <mat-paginator [length]="paginationData.totalItems" [pageIndex]="paginationData.currentPage-1" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
            </mat-paginator>
            <app-loadingInApp *ngIf="loading"></app-loadingInApp>
            <!-- <div [hidden]="!loading">Loading...</div>
            <pagination-controls (pageChange)="getPage($event)" id="logPagination" class="change-page"></pagination-controls> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
