<div class="container">
  <div class="row">
    <div *ngIf="authService.showObjHTML('userCalendar', 'read')" class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar fa-4x" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/calendar']"></i>
        </div>
        <div class="card-block">
          <h4 [routerLink]="['/userCalendar/']" class="card-title">Planning</h4>
          <p class="card-text">Consultez le planning et gérez les disponibilités.</p>
          <a [routerLink]="['/userCalendar/']" class="btn btn-primary">Go !</a>
        </div>
      </div>
    </div>
    <div *ngIf="authService.showObjHTML('project', 'read')" class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-suitcase fa-4x" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/project']"></i>
        </div>
        <div class="card-block">
          <h4 [routerLink]="['/project']" class="card-title">Intervention</h4>
          <p class="card-text">Créez les projets, suivez l'avancement...</p>
          <a [routerLink]="['/project']" class="btn btn-primary">Go !</a>
        </div>
      </div>
    </div>

    <div *ngIf="authService.showObjHTML('product')" class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-server fa-4x" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/product']"></i>
        </div>
        <div class="card-block">
          <h4 [routerLink]="['/product']" class="card-title">Produits</h4>
          <p class="card-text">Consulter et créer vos catalogues de produits.</p>
          <a [routerLink]="['/product']" class="btn btn-primary">Go !</a>
        </div>
      </div>
    </div>

    <div *ngIf="authService.showObjHTML('user', 'read')" class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user fa-4x" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/user']"></i>
        </div>
        <div class="card-block">
          <h4 [routerLink]="['/user']" class="card-title">Clients</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/user']" class="btn btn-primary">Go !</a>
        </div>
      </div>
    </div>

    <div *ngIf="authService.showObjHTML('quote', 'read')" class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar fa-4x" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/quote']"></i>
        </div>
        <div class="card-block">
          <h4 [routerLink]="['/quote']" class="card-title">Devis</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/quote']" class="btn btn-primary">Go !</a>
        </div>
      </div>
    </div>

    <div *ngIf="authService.showObjHTML('user', 'read')" class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user fa-4x" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/user']"></i>
        </div>
        <div class="card-block">
          <h4 [routerLink]="['/user']" class="card-title">Rénovation</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/user']" class="btn btn-primary">Go !</a>
        </div>
      </div>
    </div>

  </div>
</div>
