@media screen and (min-width: 768px) {
  mat-sidenav.sidebarleft {
    background-color: transparent !important;
    background-image: url("/assets/images/left-sidenav-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 125% 0%;
    width: 160px;
    height: 100vh;
    padding-top: 90px;
  }
}
