<!-- <mat-sidenav #sidenav mode="side" class="sidebarleft"> -->
  <i (click)="sideNavAction('leftSideBar', false, '')" class="fa fa-times dspl-nn-dsktp" aria-hidden="true"></i>
  <!-- <div *ngIf="showNavBarData.search.typeScreen == 'object'"> -->

    <app-projects [search]="showNavBarData.search" ></app-projects>
    <!-- <div *ngIf="showNavBarData.search.typeObj == 'categorie'">
      <app-lightStrats [search]="showNavBarData.search"></app-lightStrats>
      <app-listCategoriesByProject [search]="showNavBarData.search"></app-listCategoriesByProject>
    </div> -->
  <!-- </div> -->
<!-- </mat-sidenav> -->
