<button type="button" [routerLink]="['/categorie/new']">Add</button>

<input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchCategories()">

<div class="card">
  <div class="card-block clearfix">
    <table class="table table-hover table-striped table-responsive">
      <thead class="thead-inverse">
        <tr>

          <th class="">{{'Name' }}</th>

        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let categorie of fetchedCategories" [routerLink]="['/categorie/' + categorie._id]" routerLinkActive="active">
          <td class="">
            <div *ngFor="let singleForm of categorie.forms; let i = index;">
              <img *ngIf="i<=0" height="50px" class="img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            </div>
          </td>
          <td class="">
            {{categorie.name}}
          </td>


        </tr>
      </tbody>
    </table>

    <div class="has-text-centered">
      <mat-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
      </mat-paginator>
      <app-loadingInApp *ngIf="loading"></app-loadingInApp>
    </div>
  </div>

</div>
