<div *ngIf="isLoggedIn">

<!-- <md-sidenav #sidenav mode="side" opened="true"> -->



  <i (click)="closeSideBar()" class="fa fal fa-bars" aria-hidden="true"></i>
  <div class="sideBar" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card noborder">
      <div class="" role="tab" id="headingZero">
        <a [routerLink]="['/home']" routerLinkActive="active" data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          <span class="fa fa10 fa-tachometer" aria-hidden="true">
          </span>
          {{'Dashboard'|translate}}
        </a>
      </div>
      <div id="collapseZero" class="collapse show" role="tabpanel" aria-labelledby="headingZero">
      </div>
    </div>
    <div class="card noborder">
      <div class="" role="tab" id="headingOne">
        <a data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="fa fa10 fa-user" aria-hidden="true"></span>
          {{'Contacts'|translate}}
        </a>
      </div>
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr *ngIf="authService.showObjHTML('user', 'read')">
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/user/list/true']" routerLinkActive="active">
                    {{'Contacts'|translate}}</a>
                </td>
              </tr>
              <tr *ngIf="authService.showObjHTML('companie', 'read')">
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/companie']" routerLinkActive="active">{{'Suppliers'|translate}}</a>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.showObjHTML('project', 'read')" class="card noborder">
      <div class="" role="tab" id="headingthree">
        <a data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
            <span class="fa fa10 fa-tty" aria-hidden="true"></span> {{'Services'|translate}}
        </a>
      </div>
      <div id="collapsethree" class="collapse" role="tabpanel" aria-labelledby="headingthree">
        <div class="card-block">
          <div class="panel-body">
            <div *ngFor="let ownerCompanie of fetchedUser.ownerCompanies">
              <div>
                <table class="table">
                  <tr *ngFor="let categProjectSingle of ownerCompanie.categories.categProject; let i=index;">
                    <td *ngIf="categProjectSingle.isFlagged" class="nav-item subItem">
                      <a class="nav-link" [routerLink]="['/project/new/' + i]" routerLinkActive="active"> {{categProjectSingle.categ}}
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card noborder">
      <div class="" role="tab" id="headingFive">
        <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <span class="fa fa10 fa-folder-open" aria-hidden="true"></span>{{'Projects'|translate}}
        </a>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr *ngIf="authService.showObjHTML('project', 'read')">
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/project']" routerLinkActive="active"> {{'Projects'|translate}}</a>
                </td>
              </tr>
              <tr *ngIf="authService.showObjHTML('task', 'read')">
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/task']" routerLinkActive="active">{{'Tasks'|translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
<!--
    <div *ngIf="authService.showObjHTML('userCalendar', 'read')" class="card noborder">
      <div class="">
        <a class="nav-link" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]" data-toggle="collapse" data-parent="#accordion" routerLinkActive="active">
          <span class="fa fa-calendar" aria-hidden="true"></span> {{'Planning'|translate}}</a>
      </div>
    </div> -->
        <div *ngIf="authService.showObjHTML('userCalendar', 'read')" class="card noborder">
          <div class="" role="tab" id="headingFifteen">
            <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="true" aria-controls="collapseFifteen">
              <span class="fa fa10 fa-calendar" aria-hidden="true"></span> {{'Planning'|translate}}
            </a>
          </div>
          <div id="collapseFifteen" class="collapse" role="tabpanel" aria-labelledby="headingFifteen">
            <div class="card-block">
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td class="nav-item subItem">
                      <a class="nav-link" [routerLink]="['/userCalendar']"routerLinkActive="active">{{'Planning'|translate}}</a>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="nav-item subItem">
                      <a class="nav-link" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]" routerLinkActive="active">{{'My planning'|translate}}</a>
                    </td>
                  </tr> -->
                </table>
              </div>
            </div>
          </div>
        </div>
    <div *ngIf="authService.showObjHTML('quote', 'read')" class="card noborder">
      <div class="" role="tab" id="headingTen">
        <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
          <span class="fa fa10 fa-clipboard" aria-hidden="true"></span> {{'Quotes'|translate}}
        </a>
      </div>
      <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/quote/list/quote']" routerLinkActive="active">{{'Quotes'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/quote/list/invoice']" routerLinkActive="active">{{'Invoices'|translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.showObjHTML('product', 'read')" class="card noborder">
      <div class="">
        <a class="nav-link" [routerLink]="['/product']" data-toggle="collapse" data-parent="#accordion" routerLinkActive="active">
          <span class="fa fa10 fa-cubes" aria-hidden="true"></span> {{'Products'|translate}}</a>
      </div>
    </div>
    <div *ngIf="authService.showObjHTML('paiementQuote', 'read')" class="card noborder">
      <div class="" role="tab" id="headingTwo">
        <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span class="fa fa10 fa-university" aria-hidden="true"></span> {{'Accountancy'|translate}}
        </a>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/paiementQuote/false']" routerLinkActive="active">{{'Payments'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/paiementQuote/true']" routerLinkActive="active">{{'Expenses'|translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.showObjHTML('reporting', 'read')" class="card noborder">
      <div class="">
        <a [routerLink]="['/reporting']" data-toggle="collapse" routerLinkActive="active" class="nav-link" data-parent="#accordion">
          <span class="fa fa10 fa-bar-chart" aria-hidden="true"></span> {{'Reporting'|translate}}
        </a>
      </div>
    </div>
    <div class="card noborder">
      <div class="" role="tab" id="headingfour">
        <a data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
            <span class="fa fa10 fa-cog" aria-hidden="true"></span> {{'Settings'|translate}}
        </a>
      </div>
      <div id="collapsefour" class="collapse" role="tabpanel" aria-labelledby="headingfour">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td *ngIf="authService.showObjHTML('companie', 'read')" class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/companie/mine']" routerLinkActive="active">{{'My company'|translate}}</a>
                </td>
              </tr>
              <tr *ngIf="authService.showObjHTML('right', 'read')">
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/right']" routerLinkActive="active">{{'Rights'|translate}}</a>
                </td>
              </tr>
              <tr *ngIf="authService.showObjHTML('user', 'read')">
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/user/list/false']" routerLinkActive="active">{{'Team'|translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </md-sidenav> -->
