<!-- <div *ngFor="let project of fetchedProjects" [routerLink]="['/project/' + project._id]" routerLinkActive="active"> -->
<div *ngFor="let project of fetchedProjects" (click)="goToProject(project._id)" routerLinkActive="active">
  <div class="sidebar-item">
    <div class="list-on">
      <div [ngClass]="{'selected':project._id === search.projectId,'':project._id !== search.projectId}" >{{project.details.name}}</div>
    </div>
    <!-- <div class="list-on">{{project.details.name}}</div> -->
    <div class="triangle"></div>
  </div>
</div>
