<div class="container">
  <div class="hdform">
    <h3><i class="fa fa10 fa-cubes" aria-hidden="true"></i>{{'Product' | translate}}</h3>
  </div>
  <div class="row">
     <div class="col-12">
      <div class="row">
        <button (click)="changeCascade(i, -1, -1)" *ngFor="let itemStep of itemSteps;let i=index;" type="button" class="btn" [ngClass]="{'btn-success': i==selectedIndex0, '': i!=selectedIndex0}">
        {{itemStep.categ}}
      </button>
      </div>
      <br>
      <div class="row" *ngIf="selectedIndex0>=0">
        <button (click)="changeCascade(selectedIndex0, i, -1)" *ngFor="let itemStep of itemSteps[selectedIndex0].subCateg;let i=index;" type="button" class="btn" [ngClass]="{'btn-success': i==selectedIndex1, '': i!=selectedIndex1}">
              {{itemStep.categ}}
            </button>
      </div>
      <br>
      <div class="row" *ngIf="selectedIndex1>=0">
        <button (click)="changeCascade(selectedIndex0, selectedIndex1, i)" *ngFor="let itemStep of itemSteps[selectedIndex0].subCateg[selectedIndex1].subCateg;let i=index;" type="button" class="btn" [ngClass]="{'btn-success': i==selectedIndex2, '': i!=selectedIndex2}">
              {{itemStep.categ}}
            </button>
      </div>
    </div>

  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="row">

      <div class="col-6">

        <div>
          <label>{{'Product Name' | translate}}</label>
          <input type="text" class="form-control col-md-8" formControlName="referenceName" placeholder="referenceName" [(ngModel)]="fetchedProduct.details.referenceName">
        </div>
        <div>
          <label>{{'Ref' | translate}}</label>
          <input type="text" class="form-control col-md-8" formControlName="reference" placeholder="reference" [(ngModel)]="fetchedProduct.details.reference">
        </div>
        <div>
          <label>{{'description' | translate}}</label>
          <input type="text" class="form-control col-md-10" formControlName="description" placeholder="description" [(ngModel)]="fetchedProduct.details.description">
        </div>
        <!-- <app-autocomplete [typeAutocomplete]="'companie'" [title]="'Companie'" [singleChoice]="'true'" [arrayContent]="fetchedProduct.vendors" (getResultAutocomplete)="selectCompanie($event[0])">
        </app-autocomplete> -->
        <!-- <div class="form-group prmimg-cnt">
              <div *ngFor="let singleForm of fetchedProduct.forms">
                <img height="100px" class="promo-img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                <button type="button" md-button (click)="removePic(i)">
              <i class="fa fa-times"></i>
            </button>
              </div>
              <div class="btn btn-outline-primary">
                <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Ajouter une image<br><i class="fa fa-plus"></i></button>
              </div>
            </div> -->
        <app-picture [forms]="fetchedProduct.forms" (getPicture)="getPicture($event)"></app-picture>
      </div>
      <div class="col-6">



        <div>
          <label>{{'Height' | translate}}</label>
          <input type="number" class="form-control col-md-6" formControlName="height" placeholder="height" [(ngModel)]="fetchedProduct.details.dimension.height">
        </div>
        <div>
          <label>{{'Width' | translate}}</label>
          <input type="number" class="form-control col-md-6" formControlName="width" placeholder="width" [(ngModel)]="fetchedProduct.details.dimension.width">
        </div>
        <div>
          <label>{{'Depth' | translate}}</label>
          <input type="number" class="form-control col-md-6" formControlName="depth" placeholder="depth" [(ngModel)]="fetchedProduct.details.dimension.depth">
        </div>

        <div>
          <label>{{'CostPrice' | translate}}</label>
          <input type="number" class="form-control col-md-6" formControlName="costPrice" placeholder="costPrice" [(ngModel)]="fetchedProduct.details.price.costPrice">
        </div>
        <div>
          <label>{{'Selling Price' | translate}}</label>
          <input type="number" class="form-control col-md-6" formControlName="sellingPrice" placeholder="sellingPrice" [(ngModel)]="fetchedProduct.details.price.sellingPrice">
        </div>
        <div>
          <label>{{'VAT (%)' | translate}}</label>

          <select class="form-control col-md-6" formControlName="vat" [(ngModel)]="fetchedProduct.details.price.vat">
            <option *ngFor="let VAT of VATs" [ngValue]="VAT">
              {{VAT}}%
            </option>
          </select>
          <!-- <input type="number" class="form-control col-md-6" formControlName="vat" placeholder="vat" [(ngModel)]="fetchedProduct.details.price.vat"> -->
        </div>
        <div>
          <label>{{'Unit' | translate}}</label>
          <input type="text" class="form-control col-md-6" formControlName="unit" placeholder="Unit" [(ngModel)]="fetchedProduct.details.unit">
        </div>
      </div>
    </div>
    <div class="container">

      <div class="valid-edit row col-12">
        <button type="submit" class="valid" [disabled]="!myForm.valid">{{'Save' | translate}}</button>
        <button *ngIf="fetchedProduct._id" type="button" class="false" (click)="openDialogDelete()">Effacer produit</button>

      </div>
    </div>
    <div class="clearfix"></div>
  </form>

</div>
