<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <h4>{{'Companies' | translate}}</h4>
    </div>
    <div class="p-2">
      <app-newObjDialog icone="fa fa-plus-square fa-2x ml" [search]="search" (saved)="saved($event)" [typeObj]="'companie'"></app-newObjDialog>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchCompanies()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="centre tdunder">{{'Logo' | translate}}</th>
            <th class="centre tdunder">{{'Name' | translate}}</th>
            <th class="centre tdunder">{{'City' | translate}}</th>
            <th class="centre tdunder">{{'Phone' | translate}}</th>
            <th class="centre tdunder">{{'Date' | translate}}</th>
          </tr>
        </thead>
        <tbody class="clienttbl">
          <tr *ngFor="let companie of fetchedCompanies" [routerLink]="['/companie/' + companie._id]" routerLinkActive="active">
            <td class="centre tdunder">
              <div *ngFor="let singleForm of companie.forms; let i=index">
                <img class="promo-img" height="50px" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </div>
            </td>
            <td class="centre tdunder">{{companie.nameCompanie}}</td>
            <td class="centre tdunder">
              <div *ngFor="let singleAddress of companie.address">
                {{singleAddress.city}}
              </div>
            </td>
            <td class="centre tdunder">{{companie.phoneNumber}}</td>
            <td class="centre tdunder">{{companie.createdAt | date:'dd-MM-yyyy' }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
        <app-loadingInApp *ngIf="loading"></app-loadingInApp>
      </div>
    </div>
  </div>
</div>
