<div class="upld-mod">
  <table class="table table-hover table-responsive table-condensed">
    <tbody class="upld-modbdy">
      <!-- <md-checkbox *ngIf="isAdmin()" class="example-margin" [(ngModel)]="search.seeAll" (click)="refresh()" class="seeallcheck">See all</md-checkbox> -->
      <tr *ngFor="let form of fetchedForms" class="imgrw">
        <td>
          <div class="imgrw-cnt">
            <img *ngIf="isFormPdf(form)" (click)="onSelectRow(form)" src="./assets/images/pdf_icon.png">
            <img *ngIf="!isFormPdf(form)" (click)="onSelectRow(form)" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            <p *ngIf="isFormPdf(form)" class="pdf-ttl">{{form.title}}</p>
            <button class="dlt-btn" (click)="onDelete(form._id)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
    <!-- <mat-paginator
      [length]="paginationData.totalItems"
      [pageSize]="paginationData.itemsPerPage"
      (page)="getPage($event.pageIndex*1+1)">
    </mat-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>     -->
    <!-- <div [hidden]="!loading">Loading...</div>
    <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls> -->
  </div>
</div>
