
<div class="container">
  <!-- <app-header [showBackButton]="true" [nameObject]="'log'" [showCreateButton]="false"></app-header> -->

  <div>
    <!-- <h4 class="">id: {{fetchedLog._id}}</h4> -->


    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>


        <!-- <app-autocomplete
          [typeAutocomplete]="'project'"
          [canDelete]=true
          [title]="'Project'"
          [singleChoice]=true
          [arrayContent]="fetchedLog.projects">
        </app-autocomplete>

        <app-autocomplete
          [typeAutocomplete]="'quote'"
          [canDelete]=true
          [title]="'Quote'"
          [singleChoice]=true
          [arrayContent]="fetchedLog.quotes">
        </app-autocomplete> -->

        <!-- <input
          type="text"
          (keyup.enter)="save()"
          class="form-control"
          formControlName="logName" [(ngModel)]="fetchedLog.logName" placeholder="logName"> -->


        <!-- <div class="col-md-4">
          <app-picture [forms]="fetchedLog.forms" (getPicture)="getPicture($event)"></app-picture>
        </div> -->
      </div>



      <div class="valid-edit">
        <button type="submit" [disabled]="!myForm.valid" class="sln-edt done">{{'Save' }}</button>
        <button *ngIf="fetchedLog._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
