<div class="col-md-12">
  <h2>Project</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <!-- <div>{{fetchedProject._id}}</div> -->
    <div class="form-group">
      <mat-form-field>
        <input [maxlength]="30" matInput class="form-control" type="text" formControlName="name" [(ngModel)]="fetchedProject.details.name" placeholder="Title">
      </mat-form-field>
    </div>
    <!--<div class="form-group">
      <label>{{'Description' }}</label>
      <input class="form-control col-md-4" type="text" formControlName="description" placeholder="description" [(ngModel)]="fetchedProject.details.description">
    </div>-->
    <mat-form-field>
      <input matInput type="date" class="form-control" formControlName="start" [(ngModel)]="fetchedProject.dateProject.startString">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" class="form-control" formControlName="end" [(ngModel)]="fetchedProject.dateProject.endString">
    </mat-form-field>
    <div class="form-group">
      <label>Project Owners</label>
      <app-autocomplete [typeAutocomplete]="'user'" [title]="" [search]="{isExternalUser:false}" [singleChoice]=false [arrayContent]="fetchedProject.users"></app-autocomplete>
    </div>
    <div class="valid-edit">
      <button type="submit" class="save" [disabled]="!myForm.valid">{{'Save' }}</button>
      <button *ngIf="fetchedProject._id" type="button" class="delete" md-button (click)="openDeleteConfirmation()">{{'Delete' }}</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
