<div class="djoa-container">
  <h1>{{fetchedProject.details.name}}</h1>
  <div class="allmissions">
    <div class="allmissions-container">
      <app-strats [search]="search"></app-strats>
      <div *ngIf="fetchedProject._id">
        <div *ngFor="let categorie of fetchedCategories">
          <app-missions (getResultMissions)="getResultMissions($event)" [categorie]="categorie" [search]="{projectId:fetchedProject._id, categorieId:categorie._id}"></app-missions>
        </div>
      </div>
    </div>
  </div>
  <div class="projectinfo">
    <md-card class="projectsummary">
      <md-card-content>
        <h4>Project Information</h4>
        <button type="button" (click)="openDetails()" class="edit-btn">Edit</button>
        <div class="project-progress">
          <div class="startdate">
            <p>Start Date:</p>
            {{fetchedProject.dateProject.start | date:'yyyy-MM-dd' }}
          </div>
          <div class="enddate">
            <p>End Date</p>
            {{fetchedProject.dateProject.end | date:'yyyy-MM-dd' }}
          </div>
        </div>
        <section>
          <mat-progress-bar  [value]="fetchedProject.dateProject.percentageProgress"></mat-progress-bar>
          <p class="percent">{{fetchedProject.dateProject.percentageProgress}}%</p>
        </section>
      </md-card-content>
    </md-card>
    <md-card class="teaminfo">
      <md-card-content>
        <h4>Team</h4>
        <button type="button" (click)="openTeam()" class="edit-btn">Edit</button>
        <div *ngFor="let user of fetchedProject.users" class="pic-container">
          <app-picture [userIdToOpenProfile]="user._id" [addPicture]=false [deletePicture]=false [forms]="user.forms"></app-picture>
        </div>
      </md-card-content>
    </md-card>
    <md-card class="activity">
      <md-card-content>
        <h4>Activity</h4>
        <div>
          <div class="number">{{activityMissionsInProject}}</div> Missions
        </div>
        <div>
          <div class="number">{{activityPendingTasksInProject}}</div> Pending Tasks
        </div>
      </md-card-content>
    </md-card>
    <md-card class="your-activity">
      <md-card-content>
        <h4>Your Activity</h4>
        <div (click)="openNotif()">
          <div class="number">{{myActivityMissionsInProject}}</div> Missions
        </div>
        <div (click)="openNotif()">
          <div class="number">{{myActivityPendingTasksInProject}}</div> Pending Tasks
        </div>
      </md-card-content>
    </md-card>
    <div class="col-md-6">
      <md-card class="chat">
        <md-card-content>
          <app-chat [search]="search"></app-chat>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
