<button type="button" (click)="createNewObj('project')" class="sidebaradd"><h2>New Project</h2></button>
<br>
<button type="button" (click)="createNewObj('strat')" class="sidebaradd"><h2>New Strategy</h2></button>
<br>
<button type="button" (click)="createNewObj('mission')" class="sidebaradd"><h2>New Mission</h2></button>
<br>
<button type="button" (click)="createNewObj('document')" class="sidebaradd"><h2>New Document</h2></button>
<br>
<button type="button" (click)="createNewObj('usersToObjects')" class="sidebaradd"><h2>New Crew Member</h2></button>
<br>
<button type="button" (click)="createNewObj('user')" class="sidebaradd"><h2>New Crew Member ++</h2></button>
