<div *ngIf="displayIfContentIsNull || arrayContent.length">
  {{title}}



  <div *ngIf="!arrayContent.length || !singleChoice">

    <div class="input-group">
      <input class="form-control" autofocus autocapitalize="none" autocomplete="off" spellcheck="false" autocorrect="none" type="text" name="Search" placeholder="🔎 Search" [(ngModel)]="autocompleteSearch" (ngModelChange)="searchData()">
      <app-newObjDialog *ngIf="typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project' || typeAutocomplete=='product'" (saved)="saved($event)" [search]="search" class="input-group-addon" [typeObj]="typeAutocomplete"></app-newObjDialog>

      <!-- <span
      *ngIf="typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project'"
      class="input-group-addon"
      (click)="openDialog(typeAutocomplete)"
      id="basic-addon2">
      <i class="fa fa-plus"></i>
    </span> -->
    </div>

    <!-- <button
    class="btn btn-success"
    *ngIf="typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project'"
    type="button" md-button
    (click)="openDialog(typeAutocomplete)">
    <i class="fa fa-plus"></i> Add new one
  </button> -->

  </div>
  <div class="form-control" *ngFor="let data of fetchedData; let i=index">
    <table>
      <tr>
        <td class="tdbtn1">
          <div *ngIf="typeAutocomplete=='user'">{{data.profile.name}} {{data.profile.lastName}}</div>
          <div *ngIf="typeAutocomplete=='companie'">{{data.nameCompanie}}</div>
          <div *ngIf="typeAutocomplete=='quote'">{{data.name}}</div>
          <div *ngIf="typeAutocomplete=='project'">{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='product'">{{data.details.referenceName}}</div>
          <div *ngIf="typeAutocomplete=='right'">{{data.detailRight.nameRight}}</div>
          <div *ngIf="typeAutocomplete=='templateQuote'">{{data.nameTemplate}}</div>
        </td>
        <td class="tdbtn2">
          <button class="btn btn-success" type="button" (click)="selectData(data)">select</button>
        </td>
      </tr>
    </table>


  </div>


  <div *ngIf="fetchedData.length == 0 && autocompleteSearch !=''">
    No results.
    <!-- <button
    class="btn btn-success"
    *ngIf="typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project'"
    type="button" md-button
    (click)="openDialog(typeAutocomplete)">
    <i class="fa fa-plus"></i> Add new one
  </button> -->


    <app-newObjDialog *ngIf="typeAutocomplete=='user' || typeAutocomplete=='companie' || typeAutocomplete=='project'" class="btn btn-success" [search]="search" [icone]="'fa fa-plus'" [title]="'Add new one'" [typeObj]="typeAutocomplete"></app-newObjDialog>




    <!-- <a [routerLink]="['/user/newuser']" class="admn-btn"> -->
    <!-- Créer un nouveau employe -->
    <!-- </a> -->
  </div>
  <div class="form-control" *ngFor="let data of arrayContent; let i=index">
    <!-- <div *ngIf="typeAutocomplete=='user'" class="round" [style.background-color]="user.profile.colorCalendar"></div> -->
    <table>
      <tr>
        <td class="tdbtn1" (click)="linkToObject(data)">
          <div *ngIf="typeAutocomplete=='user'">{{data.profile.name}} {{data.profile.lastName}}</div>
          <div *ngIf="typeAutocomplete=='companie'">{{data.nameCompanie}}</div>
          <div *ngIf="typeAutocomplete=='quote'">{{data.name}}</div>
          <div *ngIf="typeAutocomplete=='project'">{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='product'">{{data.details.referenceName}}</div>
          <div *ngIf="typeAutocomplete=='right'">{{data.detailRight.nameRight}}</div>
        </td>
        <td class="tdbtn2">

          <button class="btn btn-danger btn-sm ferme" *ngIf="canDelete" type="button" (click)="removeData(i)"><i class="fa fa-times"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
