<div class="container">
  <app-header [showBackButton]="true" [nameObject]="'notification'" [showCreateButton]="false"></app-header>


  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">

    <app-autocomplete [typeAutocomplete]="'user'" [title]="'User'" [singleChoice]="'true'" [arrayContent]="fetchedNotification.users" (getResultAutocomplete)="selectUser()">
    </app-autocomplete>
    <app-autocomplete [typeAutocomplete]="'project'" [canDelete]="true" [title]="'Project'" [singleChoice]="true" [arrayContent]="fetchedNotification.projects" (getResultAutocomplete)="selectProject()">
    </app-autocomplete>

    <app-autocomplete [typeAutocomplete]="'quote'" [canDelete]="true" [title]="'Quote'" [singleChoice]="true" [arrayContent]="fetchedNotification.quotes" (getResultAutocomplete)="selectQuote()">
    </app-autocomplete>
    TypeObject: {{fetchedNotification.typeObject}}
    <input type="text" class="form-control" formControlName="nameNotification" [(ngModel)]="fetchedNotification.nameNotification" placeholder="nameNotification">


    <div class="valid-edit">
      <button type="submit" class="btn btn-success sln-edt done">
          Enregistrer
        </button>


      <button *ngIf="fetchedNotification._id" type="button" class="btn btn-danger sln-edt done" (click)="onDelete(fetchedNotification._id)">
          Delete
        </button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
