<div class="container">
  <div>
    <h3>Mission Team</h3>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>
        <app-autocomplete
          [typeAutocomplete]="'user'"
          [singleChoice]=false
          [search]="{isExternalUser:false}"
          [arrayContent]="fetchedMission.users">
        </app-autocomplete>
      </div>
      <div class="valid-edit">
        <button type="submit" class="sln-edt done">{{'Save' }}</button>
        <button *ngIf="fetchedMission._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
