.nav-container {
  z-index: 5;
  position: absolute;
  width: 100%;
}
.nav.rightmenu {
  float: right;
  padding: 15px;
}
.nav.leftmenu {
  margin-left: 1.8%;
  float: left;
  z-index: 999;
  padding: 15px;
}
.fa-home {
  color: #ffffff !important;
  background-color: #330066 !important;
  padding: 10px !important;
  border: 1px solid !important;
  border-radius: 20px !important;}
a.nav-link {
  padding: 0 1em !important;
}
.fa-bars {
  background: #4a148c;
  background: -webkit-linear-gradient(left, #4a148c , #0d47a1);
  background: -o-linear-gradient(right, #4a148c , #0d47a1);
  background: -moz-linear-gradient(right, #4a148c , #0d47a1);
  background: linear-gradient(to right, #4a148c , #0d47a1);
}
.navadd .fa.fa-plus, .navnotif button {
  color: #fff;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  font-weight: 500;
}
.navadd .fa.fa-plus {
  background-color: #330066;
  border: 1px solid #330066;
  margin: 10px 20px;
  padding: 12px;
}
.navnotif button {
  background-color: #f44336;
  border: 1px solid;
  margin: 10px 0;
}
.adm-btn {
  color: #ffffff;
  background-color: #330066;
  border: 1px solid;
  margin: 10px 50px;
  height: 40px;
}
.pic-container {
  border: 1px solid #4a148c;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 100px;
  width: 65px;
}
