<div *ngIf="topNavOpen">
  <div class="nav-container">
    <ul *ngIf="topNavOpen" class="nav leftmenu">
      <li class="nav-item">
        <button type="button" (click)="openSideBarLeft()"><i class="fa fa-bars dspl-nn-dsktp"></i></button>
      </li>
      <li class="nav-item">
        <div class="nav-link" routerLinkActive="active" (click)="goHome()"><i class="fa fa-home"></i></div>
      </li>
    </ul>
    <ul class="nav rightmenu">
      <!-- <button md-button [matMenuTriggerFor]="menu" class="adm-btn">Admin</button> -->
      <!-- <button md-button class="adm-btn">Admin</button> -->
      <!-- <mat-menu #menu="mdMenu"> -->
      <mat-menu>
        <button md-menu-item routerLinkActive="active" [routerLink]="['/user/list/false']">Users</button>
        <button md-menu-item routerLinkActive="active" [routerLink]="['/categorie']">Categories</button>
        <button md-menu-item routerLinkActive="active" [routerLink]="['/right']">Rights</button>
        <button md-menu-item routerLinkActive="active" [routerLink]="['/log']">Logs</button>
      </mat-menu>
      <li class="nav-item navnotif">
        <button type="button" (click)="notif()">4</button>
      </li>
      <li class="nav-item navadd">
        <button type="button" (click)="newObj()"><i class="fa fa-plus"></i></button>
      </li>
      <li (click)="openProfile()" class="nav-item pic-container">
        <app-picture [addPicture]=false [deletePicture]=false [forms]="fetchedCurrentUser.forms"></app-picture>
      </li>
    </ul>
  </div>
</div>
