<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <h4 *ngIf="search.isExternalUser == 'true'"> {{'Payments' | translate}}</h4>
      <h4 *ngIf="search.isExternalUser == 'false'"> {{'Expenses' | translate}}</h4>
    </div>

    <div class="p-2">
      <app-newObjDialog icone="fa fa-plus-square fa-2x ml" [search]="search" (saved)="saved($event)" [typeObj]="'paiementQuote'"></app-newObjDialog>
    </div>
    <!-- <div class="p-2">
      <app-header [search]="search" (saved)="saved($event)" [nameButton]="'Create a new Paiement'" [nameObject]="'paiementQuote'" [openInDialog]=true>
      </app-header>
    </div> -->
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchPaiementQuotes()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="centre tdunder">Type</th>
            <th class="centre tdunder">Client</th>
            <th class="centre tdunder">Nom</th>
            <th class="centre tdunder">Date</th>
            <th class="centre tdunder">Montant</th>
          </tr>
        </thead>

        <tbody class="clienttbl">
          <tr *ngFor="let paiementQuote of fetchedPaiementQuotes" [routerLink]="['/paiementQuote/edit/' + paiementQuote._id]" routerLinkActive="active">
            <td class="centre tdunder">{{paiementQuote.type}}</td>
            <td class="centre tdunder">
              <div *ngFor="let quote of paiementQuote.quotes">

                <div *ngFor="let client of quote.clients">
                  {{client.profile.name}}
                </div>
              </div>
            </td>
            <td class="centre tdunder">
              <div *ngFor="let quote of paiementQuote.quotes">
                <div *ngFor="let client of quote.clients">
                  {{client.profile.lastName}}
                </div>
              </div>
            </td>
            <td class="centre tdunder">{{paiementQuote.datePaiement | date:'yyyy-MM-dd' }}</td>
            <td class="centre tdunder">{{paiementQuote.amount}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
        <app-loadingInApp *ngIf="loading"></app-loadingInApp>
      </div>
    </div>
  </div>
</div>
