<div class="container">
  <app-header [showBackButton]="true" [nameObject]="'userCalendar'" [showCreateButton]="false"></app-header>

  <div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">


      <div class="row">

        <div class="col-md-12">
          {{'Start:' | translate}} {{fetchedUserCalendar.start | date:'yMMMdjms'  }}
        </div>
        <div class="col-md-12">
          {{'End:' | translate}} {{fetchedUserCalendar.end | date:'yMMMdjms'}}
        </div>
        <!-- <div class="col-md-12">
            <button class="btn btn-primary pull-right" (click)="addEvent()">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
          </button>
          </div> -->
        <!-- <div *ngFor="let event of events; let index = index" [hidden]="!fetchedUserCalendar.isActiveEvent"> -->
        <div class="col-md-12">
          <div *ngFor="let user of fetchedUserCalendar.users">
            <div class="round" [style.background-color]="user.profile.colorCalendar">
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12">
          <input type="text" class="form-control" formControlName="title" [(ngModel)]="fetchedUserCalendar.title" placeholder="Name">
        </div> -->

        <br>
        <div class="col-md-12">
          <app-autocomplete [typeAutocomplete]="'project'" [canDelete]=false [title]="'Project'" [search]="search" [singleChoice]="'true'" [arrayContent]="fetchedUserCalendar.projects" (getResultAutocomplete)="selectProject($event[0])">
          </app-autocomplete>
        </div>

        <div *ngIf="fetchedUserCalendar.clients.length" class="col-md-12">
          <app-autocomplete [typeAutocomplete]="'user'" [canDelete]=false [title]="'Client'" [singleChoice]="'true'" [arrayContent]="fetchedUserCalendar.clients">
          </app-autocomplete>
        </div>
        <div *ngIf="fetchedUserCalendar.assignedTos.length" class="col-md-12">
          <app-autocomplete [typeAutocomplete]="'user'" [canDelete]=false [search]="{isExternalUser:false}" [title]="'Réparateur'" [singleChoice]="'true'" [arrayContent]="fetchedUserCalendar.assignedTos" (getResultAutocomplete)="selectUser($event[0])" (clearAutocomplete)="removeUser()">
          </app-autocomplete>
        </div>


      </div>


      <div class="valid-edit">
        <button type="submit" class="sln-edt done">{{'Save' | translate}}</button>
        <button *ngIf="fetchedUserCalendar._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
