<div class="container">
    <div class="hdform">
      <h3><i class="fa fa10 fa-user" aria-hidden="true"></i>{{'Paiementquote' | translate}}</h3>
      
    </div>

  <div class="col-6">
    <h4 class="dspl-nn">id: {{fetchedPaiementQuote._id}}</h4>
    IsExpense: {{fetchedPaiementQuote.isExpense}}<br>
    isGooplusPaiement: {{fetchedPaiementQuote.isGooplusPaiement}}

    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">


      <app-autocomplete class="form-control bn"[canDelete]=false [typeAutocomplete]="'quote'" [search]="search" [canDelete]="true" [title]="'Quote'" [singleChoice]="true" [arrayContent]="fetchedPaiementQuote.quotes" (getResultAutocomplete)="selectQuote($event[0])">
      </app-autocomplete>
      <div *ngFor="let quote of fetchedPaiementQuote.quotes">
        {{'Quote Amont' | translate}}: {{quote.priceQuote.priceQuoteWithoutTaxes}}
      </div>

      <app-autocomplete  class="form-control bn"[canDelete]=false [typeAutocomplete]="'project'" [search]="search" [canDelete]="true" [title]="'Project'" [singleChoice]="true" [arrayContent]="fetchedPaiementQuote.projects" (getResultAutocomplete)="selectProject($event[0])">
      </app-autocomplete>

      <app-autocomplete class="form-control bn" [canDelete]=false [typeAutocomplete]="'user'" [search]="search" [canDelete]="true" [title]="'Customer'" [singleChoice]="true" [arrayContent]="fetchedPaiementQuote.userDebiteds" (getResultAutocomplete)="selectUserDebited($event[0])">
      </app-autocomplete>

      <div *ngIf="fetchedPaiementQuote.amount == 0 || fetchedPaiementQuote.type != 'stripe'">
        <select class="form-control" formControlName="type" [(ngModel)]="fetchedPaiementQuote.type">
            <!-- <option [attr.value]="''">Please Select</option> -->
            <option *ngFor="let n of paiementsTypes" [value]="n.value">{{n.label}}</option>
        </select>
      </div>
      <div class="form-control" *ngIf="fetchedPaiementQuote.amount !=0 && fetchedPaiementQuote.type == 'stripe'">
        {{fetchedPaiementQuote.type}}
      </div>


      <input *ngIf="fetchedPaiementQuote.type!='stripe'" type="number" class="form-control" formControlName="amount" [(ngModel)]="fetchedPaiementQuote.amount" placeholder="Amount">
      <div *ngIf="fetchedPaiementQuote.type=='stripe'" class="form-control">
        {{fetchedPaiementQuote.amount}}
      </div>
      <input type="date" class="form-control" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="fetchedPaiementQuote.datePaiementString">

      <div class="valid-edit">
        <button type="submit" class="valid">{{'Save' | translate}}</button>
        <button *ngIf="fetchedPaiementQuote._id" type="false" class="delete" md-button (click)="openDialogDelete()">
            Delete
          </button>
      </div>
    </form>


    <div *ngIf="fetchedPaiementQuote.type=='stripe' && fetchedPaiementQuote._id">
      <h4>{{'Stripe Paiement' | translate}}</h4>
      <div *ngIf="!stripeCust.id">
        <button type="button" class="valid" (click)="saveCustInStripe()">{{'Start paying in stripe'}}</button>
      </div>
      <div *ngIf="stripeCust.id">
        <button *ngIf="fetchedPaiementQuote.amount =='0'" type="button" class="false" (click)="deleteCustInStripe()">deleteCustInStripe</button>
        <div class="form-control">
          {{stripeCust.id}}
        </div>
        <div class="form-control">
          {{stripeCust.created | timestampToDate}}
        </div>
        <div class="form-control">
          {{stripeCust.email}}
        </div>

        <h4>Card</h4>
        <div *ngIf="!stripeCust.sources.data.length">
          <h6>Create a new card</h6>
          <input type="text" [(ngModel)]="newCard.address_city" placeholder="address_city" class="form-control">
          <input type="text" [(ngModel)]="newCard.address_country" placeholder="address_country" class="form-control">
          <input type="text" [(ngModel)]="newCard.address_line1" placeholder="address_line1" class="form-control">
          <input type="text" [(ngModel)]="newCard.address_line2" placeholder="address_line2" class="form-control">
          <input type="text" [(ngModel)]="newCard.address_state" placeholder="address_state" class="form-control">
          <input type="text" [(ngModel)]="newCard.address_zip" placeholder="address_zip" class="form-control"> eg: 8
          <input type="text" [(ngModel)]="newCard.exp_month" placeholder="exp_month" class="form-control"> eg: 2018
          <input type="text" [(ngModel)]="newCard.exp_year" placeholder="exp_year" class="form-control"> eg: 4242424242424242
          <input type="text" [(ngModel)]="newCard.number" placeholder="number" class="form-control">
          <button type="button" class="valid" (click)="saveCardInStripe()">saveCardInStripe</button>
        </div>


        <div *ngFor="let card of stripeCust.sources.data; let i=index;">
          <div class="form-control">{{card.id}}</div>
          <div class="form-control">{{card.address_city}}</div>
          <div class="form-control">{{card.address_country}}</div>
          <div class="form-control">{{card.address_line1}}</div>
          <div class="form-control">{{card.address_line2}}</div>
          <div class="form-control">{{card.address_state}}</div>
          <div class="form-control">{{card.address_zip}}</div>
          <div class="form-control">{{card.brand}}</div>
          <div class="form-control">{{card.country}}</div>
          <div class="form-control">{{card.exp_month}}</div>
          <div class="form-control">{{card.exp_year}}</div>
          <div class="form-control">{{card.funding}}</div>
          <div class="form-control">{{card.last4}}</div>
          <button *ngIf="fetchedPaiementQuote.amount =='0'" type="button" class="false" (click)="deleteCardInStripe(card.id)">delete Card</button>
        </div>
        <div *ngIf="fetchedPaiementQuote.amount =='0'">
          <div *ngIf="stripeCust.sources.data.length">
            <h4>{{'Paiement' | translate}}</h4>
            <input type="number" class="form-control" #amountStripe placeholder="Amount">
            <button type="button" class="valid" (click)="payInStripe(amountStripe.value)">Pay!</button>
          </div>
          <div *ngIf="!stripeCust.subscriptions.data.length">
            <button type="button" class="valid" (click)="saveSubscriptionInStripe('gold')">Plan Gold!</button>
            <button type="button" class="valid" (click)="saveSubscriptionInStripe('daily')">Plan daily!</button>
          </div>

        </div>


        <div *ngIf="stripeCust.sources.data.length">

          <div *ngFor="let sub of stripeCust.subscriptions.data">
            <div class="form-control">{{sub.id}}</div>
            <div class="form-control">{{sub.created | timestampToDate}}</div>
            <div class="form-control">{{sub.current_period_start | timestampToDate}}</div>
            <div class="form-control">{{sub.current_period_end | timestampToDate}}</div>


            <h4>Plan</h4>
            <div class="form-control">{{sub.plan.id}}</div>
            <div class="form-control">{{sub.plan.amount}}</div>
            <div class="form-control">{{sub.plan.created | timestampToDate}}</div>
            <div class="form-control">{{sub.plan.currency}}</div>
            <div class="form-control">{{sub.plan.interval}}</div>
            <div class="form-control">{{sub.plan.interval_count}}</div>
            <div class="form-control">{{sub.plan.name}}</div>
            <button type="button" class="false" (click)="deleteSubInStripe(sub.id)">deleteSubInStripe</button>

          </div>
          <div *ngIf="showReLoginInApp">
            {{'You must loggin agin to apply changes:' | translate}}
            <app-loginInApp></app-loginInApp>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
