<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <h4> {{'Quotes' | translate}}</h4>
    </div>
    <div class="p-2">
      <!-- <app-header [showHeader]="showHeader" showBackButton="showBackButton" [nameObject]="'quote'" [idProject]="idProject" [idClient]="idClient"></app-header> -->


      <app-newObjDialog
      *ngIf="search.typeQuote !=='invoice'"
      icone="fa fa-plus-square fa-2x ml" [search]="search" (saved)="saved($event)" [typeObj]="'quote'"></app-newObjDialog>

    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <input class="form-control margebasse" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchUsers()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="centre tdunder">{{'Type' | translate}}</th>
            <th class="centre tdunder">{{'Client' | translate}}</th>
            <th class="centre tdunder">{{'Name' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'name'"></app-sort>
            </th>
            <th class="centre tdunder">{{'Date' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'createdAt'"></app-sort>
            </th>

            <th class="centre tdunder">{{'Status' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'statusQuote'"></app-sort>
            </th>
          </tr>
        </thead>
        <tbody class="clienttbl">
          <tr *ngFor="let quote of fetchedQuotes" [routerLink]="['/quote/' + quote._id]" routerLinkActive="active">
            <td class="centre tdunder">
              {{quote.typeQuote}}
            </td>
            <td class="centre tdunder">
              <div *ngFor="let client of quote.clients">
                {{client.profile.name}} {{client.profile.lastName}}
              </div>

            </td>
            <td class="centre tdunder">{{quote.name}}</td>
            <td class="centre tdunder">{{quote.detail.dateQuote.issueDate | date:'yyyy-MM-dd' }}</td>
            <td class="centre tdunder">{{quote.statusQuoteString}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <mat-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
        <app-loadingInApp *ngIf="loading"></app-loadingInApp>
      </div>
    </div>
  </div>
</div>
