<div class="container-fluid">
  <div class="hdform">
    <h3><i class="fa fa10 fa-cog" aria-hidden="true"></i>{{'Company' | translate}}</h3>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="row">
      <div class="col">
        <h5>{{'Identity' | translate}}</h5>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="nameCompanie" [(ngModel)]="fetchedCompanie.nameCompanie" required minlength="5" placeholder="Nom de la Société">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="email" [(ngModel)]="fetchedCompanie.email" required minlength="5" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="fetchedCompanie.phoneNumber" required minlength="5" placeholder="Numéro de téléphone">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="faxNumber" [(ngModel)]="fetchedCompanie.faxNumber" required minlength="5" placeholder="Numéro de Fax">
        </div>

        <!-- <div class="form-group">
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedCompanie.nameCompanie" required minlength="5" placeholder="Nom interlocuteur">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedCompanie.nameCompanie" required minlength="5" placeholder="Prénom interlocuteur">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedCompanie.nameCompanie" required minlength="5" placeholder="Téléphone interlocuteur">
        </div> -->

        <h5>{{'Contact person' | translate}}</h5>
        <button type="button" class="btn btn-primary btn-sm" (click)="newContact()">New contact person</button>

        <div *ngFor="let contactPerson of fetchedCompanie.contactsPerson; let k = index;">
          <div class="row">
            <h6>{{'Contact person' | translate}}</h6><button class="ml btnadr" type="button" (click)="removeContact(k)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.contactsPerson[k].contactType" placeholder="Contact type">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.contactsPerson[k].contactName" placeholder="{{'Lastname' | translate}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.contactsPerson[k].contactFirstName" placeholder="{{'Firstname' | translate}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.contactsPerson[k].contactPhoneNumber" placeholder="{{'Phone number' | translate}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.contactsPerson[k].contactEmail" placeholder="{{'Email' | translate}}">
          </div>
        </div>

      </div>
      <div class="col">
        <h5>{{'Details' | translate}}</h5>
        <button type="button" class="btn btn-primary btn-sm" (click)="newAddress()">New Address</button>
        <div *ngFor="let singleAddresss of fetchedCompanie.address; let i = index;">
          <div class="row">
            <h6>Address {{fetchedCompanie.address[i].nameAddress}}</h6><button class="ml btnadr" type="button" (click)="removeAddress(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
          <div class="form-group">
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.address[i].nameAddress">
              <option value="billing">Facturation</option>
              <option value="shipping">shipping</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.address[i].address" placeholder="Addresse">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.address[i].city" placeholder="Ville">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.address[i].zip" placeholder="Code postal">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.address[i].country" placeholder="Pays">
          </div>
        </div>
      </div>


      <div class="col">
        <h5>{{'Divers' | translate}}</h5>
        <div class="form-group">


          <input type="checkBox" formControlName="isSupplier" [(ngModel)]="fetchedCompanie.isSupplier"> {{'Companie' | translate}}
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="VAT" [(ngModel)]="fetchedCompanie.VAT" required minlength="5" placeholder="Numéro de TVA">
        </div>
        <app-picture [forms]="fetchedCompanie.forms" (getPicture)="getPicture($event)"></app-picture>
        <div *ngIf="isMyCompanie()" class="form-group sln-inffrm">
          <h4>Options Calendar</h4> timeBegin: '06:00:00' (login => logout is required)
          <input type="text" class="form-control" formControlName="timeBegin" [(ngModel)]="fetchedCompanie.option.calendar.timeBegin" required minlength="1" placeholder="timeBegin"> timeEnd: '19:00:00' (login => logout is required)
          <input type="text" class="form-control" formControlName="timeEnd" [(ngModel)]="fetchedCompanie.option.calendar.timeEnd" required minlength="1" placeholder="timeEnd"> slotDuration: default: '00:30:00' (30 minutes) (login => logout is required)
          <input type="text" class="form-control" formControlName="slotDuration" [(ngModel)]="fetchedCompanie.option.calendar.slotDuration" placeholder="slotDuration">
          <input type="text" class="form-control" formControlName="timeBeginbusinessHours" [(ngModel)]="fetchedCompanie.option.calendar.timeBeginbusinessHours" placeholder="timeBeginbusinessHours">
          <input type="text" class="form-control" formControlName="timeEndbusinessHours" [(ngModel)]="fetchedCompanie.option.calendar.timeEndbusinessHours" placeholder="timeEndbusinessHours">



        </div>
      </div>

    </div>





    <div class="col-12">

      <div *ngIf="isMyCompanie()">
        <h6>type Users</h6>
        <div class="btn btn-warning btn-sm" (click)="seeTypeUser=!seeTypeUser">See Categs Project</div>
        <div *ngIf="seeTypeUser">
          <button type="button" class="valid" (click)="addTypeUser()">addTypeUser</button>
          <div *ngFor="let typeUser of fetchedCompanie.typeUsers; let i=index;">
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.typeUsers[i].value">
            <button type="button" class="false btn-xs" (click)="removeTypeUser(i)">x</button>
          </div>
        </div>


        <h6>Categories</h6>
        <div class="btn btn-warning btn-sm" (click)="seeCategProject=!seeCategProject">See Categs Project</div>
        <div *ngIf="seeCategProject">
          <button type="button" class="valid" (click)="addCateg('categProject', 0, 0, 0, 0)">Add Categ Project</button>
          <div *ngFor="let categorie0 of fetchedCompanie.categories.categProject; let i = index;">
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].categ">
            <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].isFlagged">isFlagged
            <button type="button" class="false" (click)="removeCateg('categProject', 1,i,0,0)">x</button>
            <button type="button" class="valid" (click)="addCateg('categProject', 1,i,0,0)">+</button>
            <div *ngFor="let categorie1 of categorie0.subCateg; let j = index;">
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].subCateg[j].categ">
              <button type="button" class="false" (click)="removeCateg('categProject', 2,i,j,0)">x</button>
              <button type="button" class="valid" (click)="addCateg('categProject', 2,i,j,0)">+</button>
              <div *ngFor="let categorie2 of categorie1.subCateg; let k = index;">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].subCateg[j].subCateg[k].categ">
                <button type="button" class="false" (click)="removeCateg('categProject', 3,i,j,k)">x</button>
              </div>
            </div>
          </div>
        </div>


        <div class="btn btn-warning btn-sm" (click)="seeCategProduct=!seeCategProduct">See Categs Products</div>
        <div *ngIf="seeCategProduct">
          <button type="button" class="valid" (click)="addCateg('categProduct', 0, 0, 0, 0)">Add Categ Project</button>
          <div *ngFor="let categorie0 of fetchedCompanie.categories.categProduct; let i = index;">
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].categ">
            <button type="button" class="false" (click)="removeCateg('categProduct', 1,i,0,0)">x</button>
            <button type="button" class="valid" (click)="addCateg('categProduct', 1,i,0,0)">+</button>
            <div *ngFor="let categorie1 of categorie0.subCateg; let j = index;">
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].subCateg[j].categ">
              <button type="button" class="false" class="false" (click)="removeCateg('categProduct', 2,i,j,0)">X</button>
              <button type="button" class="valid" (click)="addCateg('categProduct', 2,i,j,0)">+</button>
              <div *ngFor="let categorie2 of categorie1.subCateg; let k = index;">
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProduct[i].subCateg[j].subCateg[k].categ">
                <button type="button" class="false" (click)="removeCateg('categProduct', 3,i,j,k)">x</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="1==2">
        <div *ngIf="isMyCompanie()">
          <button type="button" class="valid" [routerLink]="['/user/paiement']">{{'Plan' | translate}}</button> {{'Plan' | translate}}: {{fetchedCompanie.planDetail.plan}} ({{fetchedCompanie.planDetail.current_period_end | date:'yyyy-MM-dd'}})
        </div>
        <button type="button" class="false" (click)="initDataToRemove()">Init Data</button>
        <h4>{{'banck' | translate}}</h4>
        <h4>{{'Stripe' | translate}}</h4>
        <!-- <mat-radio-group class="example-radio-group" formControlName="serviceSelected" [(ngModel)]="fetchedCompanie.banck.serviceSelected">
          <mat-radio class="btn btn-warning btn-sm" *ngFor="let servicesBank of servicesBanks" [value]="servicesBank">
            {{servicesBank}}
          </mat-radio>
        </mat-radio-group> -->

        <input type="text" class="form-control" formControlName="secretKey" [(ngModel)]="fetchedCompanie.banck.stripe.secretKey" placeholder="secretKey">
      </div>
    </div>



    <div class="valid-edit row col-12">
      <button type="submit" class="valid">
          {{'Save' | translate}}
        </button>
      <!-- <button *ngIf="isMyCompanyRoute && fetchedCompanie._id==''" type="button" (click)="saveMyCompanie()" class="sln-edt done">
            Save my companie
        </button> -->

      <button *ngIf="fetchedCompanie._id && !isMyCompanie()" type="button" class="false" (click)="onDelete(fetchedCompanie._id)">
          {{'Delete' | translate}}
      </button>
    </div>
    <div class="clearfix"></div>
  </form>

</div>
