<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> Retour</a></i></button></div>
  <div class="col-md-6">
    <h3 class="title">Ajouter / Editer Fournisseur</h3></div>
  <div class="col-md-3"></div>
</div> -->


<div class="container">
<!-- <app-header [showBackButton]="showBackButton" [nameObject]="'companie'" [showCreateButton]="false"></app-header> -->



  <h4 class="">id: {{fetchedCompanie._id}}</h4>

  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div *ngIf="isMyCompanie()">
      <button type="button" [routerLink]="['/user/paiement']">{{'Plan' }}</button> {{'Plan' }}: {{fetchedCompanie.planDetail.plan}} ({{fetchedCompanie.planDetail.current_period_end | date:'yyyy-MM-dd'}})
    </div>
    <div class="form-group sln-inffrm">

      <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedCompanie.nameCompanie" required minlength="5" placeholder="Nom du fournisseur">
      <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="fetchedCompanie.phoneNumber" required minlength="5" placeholder="Numéro de téléphone">

      <div formGroupName="address">
        <input type="text" class="form-control" formControlName="address" [(ngModel)]="fetchedCompanie.address.address" required minlength="5" placeholder="Adresse">
        <input type="text" class="form-control" formControlName="city" [(ngModel)]="fetchedCompanie.address.city" required minlength="2" placeholder="Ville">

        <input type="text" class="form-control" formControlName="zip" [(ngModel)]="fetchedCompanie.address.zip" required minlength="5" placeholder="Code postal">
        <!-- <div class="form-group prmimg-cnt">
          <div *ngFor="let singleForm of fetchedCompanie.forms; let i=index">
            <img class="promo-img" height="50px" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            <button type="button" class="" (click)="removeForm(i)">
                    <i class="fa fa-trash"></i>
                  </button>
          </div>
          <div>
            <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">{{'Add a picture' }}<br><i class="fa fa-plus"></i></button>
          </div>
        </div> -->
        <app-picture [forms]="fetchedCompanie.forms" (getPicture)="getPicture($event)"></app-picture>
      </div>




      <div *ngIf="isMyCompanie()" formGroupName="option">
        <div formGroupName="calendar">
          <h4>Options Calendar</h4>
          <input type="text" class="form-control" formControlName="timeBegin" [(ngModel)]="fetchedCompanie.option.calendar.timeBegin" required minlength="1" placeholder="timeBegin">
          <input type="text" class="form-control" formControlName="timeEnd" [(ngModel)]="fetchedCompanie.option.calendar.timeEnd" required minlength="1" placeholder="timeEnd">
        </div>
      </div>
    </div>

    <div *ngIf="isMyCompanie()">
      <h4>type Users</h4>

      <div (click)="seeTypeUser=!seeTypeUser">See Categs Project</div>
        <div *ngIf="seeTypeUser">
        <!-- {{fetchedCompanie.typeUsers|json}} -->
        <button type="button" (click)="addTypeUser()">addTypeUser</button>
        <div *ngFor="let typeUser of fetchedCompanie.typeUsers; let i=index;">
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.typeUsers[i].value">
          <button type="button" (click)="removeTypeUser(i)">X</button>
        </div>
      </div>


      <h4>Categories</h4>
      <div (click)="seeCategProject=!seeCategProject">See Categs Project</div>
      <div *ngIf="seeCategProject">
        <button type="button" (click)="addCateg('categProject', 0, 0, 0, 0)">Add Categ Project</button>
        <div class="categ0" *ngFor="let categorie0 of fetchedCompanie.categories.categProject; let i = index;">
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].categ">
          <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].isFlagged">isFlagged
          <button type="button" (click)="removeCateg('categProject', 1,i,0,0)">X</button>
          <button type="button" (click)="addCateg('categProject', 1,i,0,0)">+</button>
          <div class="categ1" *ngFor="let categorie1 of categorie0.subCateg; let j = index;">
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].subCateg[j].categ">
            <button type="button" (click)="removeCateg('categProject', 2,i,j,0)">X</button>
            <button type="button" (click)="addCateg('categProject', 2,i,j,0)">+</button>
            <div class="categ2" *ngFor="let categorie2 of categorie1.subCateg; let k = index;">
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categProject[i].subCateg[j].subCateg[k].categ">
              <button type="button" (click)="removeCateg('categProject', 3,i,j,k)">X</button>
            </div>
          </div>
        </div>
      </div>


      <div (click)="seeCategCategorie=!seeCategCategorie">See Categs Categories</div>
      <div *ngIf="seeCategCategorie">
        <button type="button" (click)="addCateg('categCategorie', 0, 0, 0, 0)">Add Categ Project</button>
        <div class="categ0" *ngFor="let categorie0 of fetchedCompanie.categories.categCategorie; let i = index;">
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categCategorie[i].categ">
          <button type="button" (click)="removeCateg('categCategorie', 1,i,0,0)">X</button>
          <button type="button" (click)="addCateg('categCategorie', 1,i,0,0)">+</button>
          <div class="categ1" *ngFor="let categorie1 of categorie0.subCateg; let j = index;">
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categCategorie[i].subCateg[j].categ">
            <button type="button" (click)="removeCateg('categCategorie', 2,i,j,0)">X</button>
            <button type="button" (click)="addCateg('categCategorie', 2,i,j,0)">+</button>
            <div class="categ2" *ngFor="let categorie2 of categorie1.subCateg; let k = index;">
              <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.categories.categCategorie[i].subCateg[j].subCateg[k].categ">
              <button type="button" (click)="removeCateg('categCategorie', 3,i,j,k)">X</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="initDataToRemove()">Init Data</button>




      <h4>{{'banck' }}</h4>

      <h4>{{'Stripe' }}</h4>

      <mat-radio-group class="example-radio-group" formControlName="serviceSelected" [(ngModel)]="fetchedCompanie.banck.serviceSelected">
        <mat-radio-button class="example-radio-button" *ngFor="let servicesBank of servicesBanks" [value]="servicesBank">
          {{servicesBank}}
        </mat-radio-button>
      </mat-radio-group>

      <input type="text"
        class="form-control"
        formControlName="secretKey"
        [(ngModel)]="fetchedCompanie.banck.stripe.secretKey"
        placeholder="secretKey">

    </div>



    <div class="valid-edit">
      <button type="submit" class="sln-edt done">
          Enregistrer
        </button>

        <button *ngIf="isMyCompanyRoute && fetchedCompanie._id==''" type="button" (click)="saveMyCompanie()" class="sln-edt done">
            Save my companie
        </button>


      <button *ngIf="fetchedCompanie._id" type="button" class="sln-edt done" (click)="onDelete(fetchedCompanie._id)">
          Delete
      </button>
    </div>
    <div class="clearfix"></div>
  </form>

</div>
