.gooplusInput {
  width:40px;
}
.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.container {
    padding-right: 0px!important;
    padding-left: 0px!important;

    margin-top: 0px!important;
  width: 100%;
}

.bn {
    border: none;
  padding-left: 0px!important;
    padding-right: 0px!important;
    }
