<form [formGroup]="myForm" novalidate (ngSubmit)="save()">
  <div class="container-fluid">
    <div class="hdform">
      <h3 *ngIf="fetchedUser.isExternalUser"><i class="fa fa10 fa-user" aria-hidden="true"></i>{{'Customer' | translate}}</h3>
      <h3 *ngIf="!fetchedUser.isExternalUser"><i class="fa fa10 fa-user" aria-hidden="true"></i>{{'Team' | translate}}</h3>
    </div>
    <div class="row">
      <div class="row">
        <div class="col">
          <h5>{{'Identity' | translate}}</h5>
          <div class="form-group">

            <select [ngClass]="{'has-error':!myForm.controls['title'].valid && !myForm.controls['title'].pristine}" [(ngModel)]="fetchedUser.profile.title" class="form-control" formControlName="title">
              <option value="" disabled selected>Title</option>
              <option *ngFor="let n of titleArray" [ngValue]="n">{{n}}</option>
            </select>


          </div>
          <div class="form-group">
            <input [ngClass]="{'has-error':!myForm.controls['name'].valid && !myForm.controls['name'].pristine}" type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedUser.profile.name" placeholder="{{'Firstname' | translate}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="fetchedUser.profile.lastName" placeholder="{{'Lastname' | translate}}">
          </div>
          <div class="form-group">
            <input [ngClass]="{'has-error':!myForm.controls['email'].valid && !myForm.controls['email'].pristine}" type="text" class="form-control" formControlName="email" [(ngModel)]="fetchedUser.email" placeholder="{{'Email' | translate}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="fetchedUser.profile.phoneNumber" placeholder="{{'Phone Number' | translate}}">
          </div>
          <div *ngIf="fetchedUser.isExternalUser" class="form-group">
            <select [ngClass]="{'has-error':!myForm.controls['typeClient'].valid && !myForm.controls['typeClient'].pristine}" [(ngModel)]="fetchedUser.profile.typeClient" class="form-control" formControlName="typeClient">
              <option value="" disabled selected>Type</option>
              <option *ngFor="let n of typeClientArray" [ngValue]="n">{{n}}</option>
            </select>
          </div>
          <div *ngIf="fetchedUser.isExternalUser" class="form-group">
            <input *ngIf="fetchedUser.profile.typeClient ==='Administration'" type="text" class="form-control" formControlName="accessType" [(ngModel)]="fetchedUser.profile.companyName" placeholder="Nom Administration">
            <input *ngIf="fetchedUser.profile.typeClient ==='Societe'" type="text" class="form-control" formControlName="accessType" [(ngModel)]="fetchedUser.profile.companyName" placeholder="Nom Societé">
          </div>
          <div *ngIf="fetchedUser.isExternalUser" class="form-group">
            <select [ngClass]="{'has-error':!myForm.controls['statusHouse'].valid && !myForm.controls['statusHouse'].pristine}" [(ngModel)]="fetchedUser.profile.statusHouse" class="form-control" formControlName="statusHouse">
              <option value="" disabled selected>Statut</option>
              <option *ngFor="let n of statusHouseArray" [ngValue]="n">{{n}}</option>
            </select>
          </div>

          <!-- <div class="form-group" *ngIf="fetchedUser.isExternalUser">
            <app-autocomplete [title]="'Entreprise'" [singleChoice]="'true'" [typeAutocomplete]="'companie'" [arrayContent]="fetchedUser.ownerCompanies" (getResultAutocomplete)="selectCompanie($event[0])">
            </app-autocomplete>
          </div> -->
          <!--
         <div class="form-group">
            <select [(ngModel)]="fetchedUser.profile.language" name="language" class="form-control" formControlName="language">
              <option *ngFor="let n of languageArray" [value]="n">{{n}}</option>
            </select>
          </div>   -->
          <div *ngIf="!fetchedUser.isExternalUser" class="form-group">
            <div *ngFor="let ownerCompanie of currentUser.ownerCompanies">
              <select [(ngModel)]="fetchedUser.typeUsers" name="language" class="form-control" formControlName="typeUsers">
                <option value="" disabled selected>Type</option>
                <option *ngFor="let typeUser of ownerCompanie.typeUsers" [value]="typeUser.value">{{typeUser.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <h5>{{'Address' | translate}}</h5>
          <button type="button" class="btn btn-primary btn-sm" (click)="newAddress()">New Address</button>
          <div *ngFor="let singleAddresss of fetchedUser.profile.address; let i = index;">
            <div class="row">
            <h6>Address {{fetchedUser.profile.address[i].nameAddress}}</h6>
            <button type="button" class="ml btnadr" (click)="removeAddress(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
              <!-- <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedCompanie.address[i].nameAddress" placeholder="nameAddress"> -->
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.address[i].nameAddress">
                        <option value="billing">Facturation</option>
                        <option value="shipping">shipping</option>
                      </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.address[i].address" placeholder="{{'Address' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.address[i].address2" placeholder="{{'Additional address' | translate}}">
            </div>
            <div class="form-group">
              <input (ngModelChange)="searchCities($event, i)" type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.address[i].zip" placeholder="{{'Zip' | translate}}">
            </div>
            <div class="form-group">
              <div *ngFor="let place of fetchedUser.profile.address[i].cities; let j = index">
                {{place['place name']}}<button type="button" (click)="selectCity(i, place['place name'])">Ok</button>

              </div>
            </div>
            <div class="form-group">
              <input type="text" readonly class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.address[i].city" placeholder="{{'City' | translate}}">
            </div>
            <!--   <div class="form-group">
            <input type="text" class="form-control" formControlName="state" [(ngModel)]="fetchedUser.profile.address.state" placeholder="{{'State' | translate}}">
          </div> -->
            <div class="form-group">
              <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.address[i].country" placeholder="{{'Country' | translate}}">
            </div>
          </div>
        </div>
        <div class="col">
          <h5>{{'Divers' | translate}}</h5>
          <div class="form-group" *ngIf="fetchedUser.isExternalUser">
            <div class="form-group">
              <select [(ngModel)]="fetchedUser.profile.detailHouse.typeHouse" class="form-control" formControlName="typeHouse">
                <option value="" disabled selected>Type Maison</option>
               <option *ngFor="let n of typeHouseArray" [ngValue]="n">{{n}}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="surface" [(ngModel)]="fetchedUser.profile.detailHouse.surface" placeholder="{{'Surface' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="accesCode" [(ngModel)]="fetchedUser.profile.detailHouse.accesCode" placeholder="{{'Acces Code' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="floor" [(ngModel)]="fetchedUser.profile.detailHouse.floor" placeholder="{{'Floor' | translate}}">
            </div>
            <div class="form-group">
              <select [(ngModel)]="fetchedUser.profile.detailHouse.accessType" class="form-control" formControlName="title">
                <option value="" disabled selected>Acces</option>
                <option *ngFor="let n of accessTypeArray" [value]="n">{{n}}</option>
              </select>
              <!-- <input type="text" class="form-control" formControlName="accessType" [(ngModel)]="fetchedUser.profile.detailHouse.accessType" placeholder="{{'Acces Type' | translate}}"> -->
            </div>
            <div class="form-group">
              <select [(ngModel)]="fetchedUser.profile.sourceContact" class="form-control" formControlName="sourceContact">
                <option value="" disabled selected>Source Contact</option>
                <option *ngFor="let n of sourceContactArray" [value]="n">{{n}}</option>
              </select>
              <!-- <input type="text" class="form-control" formControlName="accessType" [(ngModel)]="fetchedUser.profile.sourceContact" placeholder="{{'Source' | translate}}"> -->
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" formControlName="otherData" [(ngModel)]="fetchedUser.profile.otherData" placeholder="{{'Other' | translate}}">
              </textarea>
          </div>
          <div *ngIf="!fetchedUser.isExternalUser" class="form-group">
            <app-autocomplete [typeAutocomplete]="'right'" [canDelete]="true" [title]="'Right'" [singleChoice]="true" [arrayContent]="fetchedUser.rights" (getResultAutocomplete)="selectRight($event[0])">
            </app-autocomplete>
          </div>
          <div *ngIf="!fetchedUser.isExternalUser" class="form-group">
            <div>
              <label>{{'Calendar Color' | translate}}</label>
              <div class="round" [style.background-color]="fetchedUser.profile.colorCalendar"></div>
              <input type="color" formControlName="colorCalendar" [(ngModel)]="fetchedUser.profile.colorCalendar">
            </div>
          </div>
          <app-picture *ngIf="!fetchedUser.isExternalUser" [forms]="fetchedUser.forms" (getPicture)="getPicture($event)"></app-picture>
        </div>
      </div>
    </div>
    <div *ngIf="fetchedUser._id">
      <button type="button" (click)="showProjects = !showProjects">Projects</button>
      <div *ngIf="showProjects">
        <app-projects [search]="search"></app-projects>
      </div>
    </div>
    <div class="valid-edit row col-12">
      <button type="submit"[disabled]="!myForm.valid" [ngClass]="{'valid':myForm.valid,'has-error':!myForm.valid}">{{'Done' | translate}}</button>
      <button *ngIf="fetchedUser._id" type="button" class="valid" (click)="saveAndCreateProject()" [disabled]="!myForm.valid">
          {{'Save & Create project' | translate}}
        </button>
      <div *ngIf="!isUserIsMyself()">
        <button type="button" *ngIf="fetchedUser._id" class="false" (click)="openDialogDelete()">{{'Delete' | translate}}</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
