<div class="container">

  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste</h4>
        </div>
        <div class="card-block clearfix">
          <div id="wrapper" class="subsubnav-clients float-left">
            <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchRights()">
          </div>
          <table class="table table-hover">
            <thead>
              <tr>

                <th class="">Name</th>


              </tr>
            </thead>
            <tbody class="">
              <tr *ngFor="let right of fetchedRights" [routerLink]="['/right/' + right._id]" routerLinkActive="active">

                <td class="">{{right.detailRight.nameRight}}</td>


                <!-- <td class="">{{right.details.referenceName}}</td>
              <td class="">{{right.name}}</td>
              <td class="">{{right.details.price.costPrice}}</td>
              <td class="">{{right.details.referenceName}}</td>
              <td class="">{{right.details.price.costPrice}}</td>
              <td class="">{{right.details.price.costPrice}}</td> -->
              </tr>
            </tbody>
          </table>

          <div class="has-text-centered">
            <mat-paginator [length]="paginationData.totalItems" [pageIndex]="paginationData.currentPage-1" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
            </mat-paginator>
            <app-loadingInApp *ngIf="loading"></app-loadingInApp>
            <!-- <div [hidden]="!loading">Loading...</div>
          <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
