<!-- <div *ngIf="showHeader" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> {{ 'Back' | translate }}</a></i></button></div>
  <div class="col-md-6">
    <h3 class="title">{{ 'Project' | translate }}</h3></div>
  <div class="col-md-3"></div>
</div> -->

<!-- <app-header [showHeader]="showHeader" [nameObject]="'comment'"></app-header> -->

<!--
<div class="clearfix col-md-10">
  <button class="btn btn-success float-right" [routerLink]="['/project/new/' + userId]" routerLinkActive="active"><i class=""></i>Créer un nouveau Projet</button>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-md-10">
      <app-comment (saved)="saved()" [search]="search"></app-comment>
    </div>
    <div class="col-md-10">
      <div class="card">
        <!-- <div class="card-header">
          <h4 class="card-title">{{ 'List' | translate }}</h4>
        </div> -->
        <div class="card-block clearfix">
          <!-- <app-autocomplete
          [typeAutocomplete]="'project'"
          [canDelete]="true"
          [title]="'Project'"
          [singleChoice]="true"
          [arrayContent]="searchProjects"
          (getResultAutocomplete)="selectProject($event[0])"
          (clearAutocomplete)="clearAutocomplete()">
        </app-autocomplete> -->


          <!-- <md-checkbox class="example-margin" [(ngModel)]="search.myComments" (change)="searchComments()">My comments</md-checkbox> -->


          <!-- <div id="wrapper" class="subsubnav-clients float-left">
          <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchProjects()">
        </div> -->
          <table class="table table-hover">
            <!-- <thead>
              <tr>

                <th class="centre">Project</th>
                <th class="centre">Name Comment</th>
                <th class="centre">Assigned to</th>

              </tr>
            </thead> -->
            <tbody class="clienttbl">
              <tr *ngFor="let comment of fetchedComments">




                <td class="centre">{{comment.commentName}}</td>
                <td class="centre">{{comment.createdAt| date:'yMdjm'}}
                </td>
                <td class="centre">
                  <div *ngFor="let user of comment.writtenBy">
                    By {{user.profile.name}}
                  </div>
                </td>
                <td class="centre">
                  <app-picture [addPicture]=false [deletePicture]=false [forms]="comment.forms"></app-picture>
                </td>
                <td class="centre">
                  <button type="button" (click)="openDialogDelete(comment._id)">X</button>
                </td>

                <!-- <td class="centre">{{project.details.customer}}</td>
              <td class="centre">{{project.details.name}}</td>
              <td class="centre">{{project.details.date}}</td>
              <td class="centre">
                <div *ngFor="let assignedTo of project.users">
                  {{assignedTo.profile.name}} {{assignedTo.profile.lastName}}
                </div>

              </td> -->
                <!-- <td class="centre btn btn-outline-info">{{project.StatusProject}}</td> -->
              </tr>
            </tbody>
          </table>

          <div class="has-text-centered">
            <mat-paginator
              [length]="paginationData.totalItems"
              [pageSize]="paginationData.itemsPerPage"
              (page)="getPage($event.pageIndex*1+1)">
            </mat-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>
            <!-- <div [hidden]="!loading">Loading...</div>
            <pagination-controls (pageChange)="getPage($event)" id="commentPagination" class="change-page"></pagination-controls> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
