
<div class="container">


    <!-- <app-header [nameObject]="'user'" [option]="'internal'"></app-header> -->


<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ 'List'  }}</h4>
        </div>
        <div class="card-block clearfix">
          <div id="wrapper" class="subsubnav-clients float-left">
            <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchUsers()">
          </div>
          <!-- <md-tab-group (selectChange)="onSelectChange($event)" class="beigeback admin-users">
          <md-tab label="Team" data-isExternalUser="false"></md-tab>
          <md-tab label="External Contacts" data-isExternalUser="true"></md-tab>
        </md-tab-group> -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="">Type</th>
                <th class="">Client</th>
                <th class="">Nom</th>
                <th class="">Date</th>
                <th class="">Company</th>
                <th class="">Statut</th>
              </tr>
            </thead>
            <tbody class="">
              <tr *ngFor="let user of fetchedUsers" [routerLink]="['/user/' + user._id]" routerLinkActive="active">
                <td class="">
                  <div *ngFor="let singleType of user.type">
                    {{singleType}}
                  </div>
                </td>
                <td class="">{{user.profile.name}}</td>
                <td class="">{{user.profile.lastName}}</td>
                <td class="">{{user.createdAt | date:'yyyy-MM-dd' }}</td>
                <td class="">
                  <div *ngFor="let companie of user.companies">
                    {{companie.nameCompanie}}
                  </div>
                </td>
                <td class="centre btn btn-outline-info"></td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <mat-paginator
              [length]="paginationData.totalItems"
              [pageSize]="paginationData.itemsPerPage"
              (page)="getPage($event.pageIndex*1+1)">
            </mat-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>
            <!-- <div [hidden]="!loading">Loading...</div>
            <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
