.allmissions {
  overflow-x: auto;
  margin: 50px 0;
  padding-bottom: 15px;
}
.allmissions-container {
  width: 5000px;
}
.projectinfo {
  clear: both;
}
.startdate, .enddate {
  display: inline-block;
}
.startdate p, .enddate p {
  margin-bottom: 0;
  color: #b3b3b3;
}
.enddate {
  float: right;
  text-align: right;
}
.projectsummary, .teaminfo, .activity, .your-activity {
  display: inline-grid;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 200px;
  margin: 0 -6px 0 0;
}
.teaminfo, .your-activity {
  background-color: #f4f4f4;
}
mat-progress-bar.mat-progress-bar.mat-primary, .project-progress {
  width: 88% !important;
  display: inline-block;
}
.project-progress {
  margin-top: 50px;
}
.missionbox tr {
  margin: 15px 0 !important;
  display: block;
  background-color: #f4f4f4;
  position: relative;
  padding: 20px 5px 15px 20px;
}
.missionbox table td {
  border: none !important;
  width: 80% !important;
  padding: 1px !important;
}
.delete-x {
  position: absolute;
  top: 0%;
  right: 0%;
  background: none;
  background-color: #f44336;
  border: none;
  color: #fff;
  height: 100%;
}
.projectsummary section {
  position: relative;
}
.projectsummary mat-progress-bar.mat-progress-bar.mat-primary {
  border-left: 1px solid;
  border-right: 1px solid;
  height: 38px !important;
  padding-top: 10px;
}
.pic-container {
  width: 60px;
  float: left;
  padding-right: 15px;
  padding-top: 15px;
}
.number {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 120px;
  margin: 15px 5px 0 0;
  height: 45px;
  width: 45px;
  text-align: center;
  padding-top: 8px;
}
.activity .number {
  background-color: #4a148c;
}
.your-activity .number {
  background-color: #f44336;
}
.activity h4 {
  color: #4a148c;
}
.your-activity h4 {
  color: #f44336;
}
.sidebar-item {
  -webkit-filter: drop-shadow(0 0 5px #aaaaaa);
  -moz-filter: drop-shadow(0 0 5px #aaaaaa);
  -ms-filter: drop-shadow(0 0 5px #aaaaaa);
  -o-filter: drop-shadow(0 0 5px #aaaaaa);
  filter: drop-shadow(0 0 5px #aaaaaa);
}
.list-on {
  background-color: #ffffff;
  padding: 5px;
  display: table-cell;
  width: 160px;
  vertical-align: middle;
}
.triangle {
  display: table-cell;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 18px solid #ffffff;
  border-bottom: 40px solid transparent;
}

@media screen and (min-width: 768px){
  .projectsummary {
    width: 35%;
  }
  .teaminfo {
    width: 25%;
  }
  .activity, .your-activity {
    width: 20%;
  }
}

.selected {
  color: red;
}
