h2.my-name {
  text-align: center !important;
  text-transform: none !important;
	display: block !important;
}
h5 {
  text-align: center;
  margin-bottom: 50px;
}
.profile-button {
  width: 115%;
  padding: 15px;
  background-color: #f4f4f4;
  margin: 0 -15px;
}
.pic-container {
	width: 100px;
	display: flex;
	margin: 50px auto 10px;
  padding: 0;
  float: none;
}
