<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <h4> {{'Products' | translate}}</h4>
    </div>
    <div class="p-2">
      <app-newObjDialog icone="fa fa-plus-square fa-2x ml" [search]="search" (saved)="saved($event)" [typeObj]="'product'"></app-newObjDialog>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchProducts()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>

            <th class="centre tdunder">{{'Image' | translate}}</th>
            <th class="centre tdunder">{{'Name' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.referenceName'"></app-sort>
            </th>
            <th class="centre tdunder">{{'Description' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.description'"></app-sort>
            </th>
            <!-- <th class="centre tdunder">{{'Description' | translate}}</th> -->


            <th class="centre tdunder">{{'Price without taxes' | translate}}
              <app-sort (orderBy)="orderBy($event)" [search]="search" [filedToOrder]="'details.price.sellingPrice'"></app-sort>
            </th>
          </tr>
        </thead>
        <tbody class="clienttbl">
          <tr *ngFor="let product of fetchedProducts" [routerLink]="['/product/' + product._id]" routerLinkActive="active">
            <td class="centre tdunder">
              <div *ngFor="let singleForm of product.forms; let i = index;">
                <img *ngIf="i<=0" height="50px" class="img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </div>
            </td>
            <td class="centre tdunder">{{product.details.referenceName}}</td>
            <td class="centre tdunder">{{product.details.description}}</td>
          <!--   <td class="centre tdunder">{{product.details.referenceName}}</td>  -->
            <td class="centre tdunder">{{product.details.price.sellingPrice}}</td>
          <!--  <td class="centre tdunder">{{product.details.price.costPrice}}</td>  -->

          </tr>
        </tbody>
      </table>

      <div>
        <mat-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
        <app-loadingInApp *ngIf="loading"></app-loadingInApp>

      </div>
    </div>



  </div>
</div>
