
<div class="container">
  <!-- <app-header [showBackButton]="true" [nameObject]="'comment'" [showCreateButton]="false"></app-header> -->

  <div>
    <!-- <h4 class="dspl-nn">id: {{fetchedComment._id}}</h4> -->


    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>


        <!-- <app-autocomplete
          [typeAutocomplete]="'project'"
          [canDelete]=true
          [title]="'Project'"
          [singleChoice]=true
          [arrayContent]="fetchedComment.projects">
        </app-autocomplete>

        <app-autocomplete
          [typeAutocomplete]="'quote'"
          [canDelete]=true
          [title]="'Quote'"
          [singleChoice]=true
          [arrayContent]="fetchedComment.quotes">
        </app-autocomplete> -->

        <input
          type="text"
          (keyup.enter)="save()"
          class="form-control"
          formControlName="commentName" [(ngModel)]="fetchedComment.commentName" placeholder="commentName">


        <div class="col-md-4">
          <app-picture [forms]="fetchedComment.forms" (getPicture)="getPicture($event)"></app-picture>
        </div>
      </div>



      <div class="valid-edit">
        <button type="submit" [disabled]="!myForm.valid" class="sln-edt done">{{'Save' | translate}}</button>
        <button *ngIf="fetchedComment._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
