@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "fullcalendar/dist/fullcalendar.min.css";*/
/*@import "~angular-calendar/dist/css/angular-calendar.css";*/
/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/

/*----------General---------*/

html, body {
  height: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #330066;
}
h1, h2, h3, h4, h5, a, p, td, th, button, input, .table td, .mat-card {
  font-family: inherit !important;
}
h1, h2, h3 {
  text-transform: uppercase;
}
h1 {
  font-size: 22px;
  text-align: center;
  margin: 15px 0;
}
h2 {
  font-size: 15px;
  color: #4a148c;
  display: inline-block;
  margin-bottom: 10px !important;
}
h3 {
  font-size: 13px;
  background-color: #4a148c;
  color: #fff;
  padding: 2px 5px;
  float: right;
  margin-top: 2px;
}
h4 {
  font-size: 18px;
  display: inline-block;
}
h5 {
  font-size: 12px;
  color: #b3b3b3;
}
a {
  color: inherit !important;
}

@media screen and (min-width: 768px) {
  .dspl-nn-dsktp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .dspl-nn-mbl {
    display: none !important;
  }
}
/*----------Body---------*/

.djoa-background {
  background: #4a148c;
  background: -webkit-linear-gradient(left, #4a148c , #0d47a1);
  background: -o-linear-gradient(right, #4a148c , #0d47a1);
  background: -moz-linear-gradient(right, #4a148c , #0d47a1);
  background: linear-gradient(to right, #4a148c , #0d47a1);
}
.djoa-container {
  float: none;
  margin: 0 0 0 13%;
  height: 93vh !important;
  overflow: hidden;
  background-image: url(/assets/images/page-title-back.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% -10%;
}
.missionbox {
  float: left;
  width: 500px;
  max-width: 100%;
  display:inline-block;
}
.edit-btn {
  color: #ccc;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 10px;
  text-decoration: none;
  background: none;
  border: none;
}
.add-object {
  width: 100%;
  background: none;
  border: none;
  padding: 20px 15px;
  background-color: #4a148c;
  color: #fff;
  text-align: left;
  cursor: pointer;
  font-family: inherit;
}
.save {
  width: 100%;
  height: 35px;
  background-color: #009688;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
p.percent {
  display: inline-block;
  margin: 0 !important;
  padding: 1px 10px 0;
  position: absolute;
  top: 25%;
  color: #009688;
  font-weight: 600;
}
.bottom-shadow {
  position: sticky;
  bottom: 0px;
  width: 100%;
}
.bottom-shadow:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .djoa-container {
    width: 80% !important;
    max-width: 80% !important;
  }
  .missionbox {
    margin-right: 20px;
  }
}

/*---------- Angular CSS and Bootstrap Override---------*/

button {
  background: none;
  border: none;
}
body, .mat-drawer-container {
  background-color: transparent !important;
}
.mat-drawer-container {
  overflow: initial;
}
md-sidenav-container.mat-drawer-container.mat-sidenav-container {
  height: 100%;
}
.mat-progress-bar {
  height: 25px !important;
  min-width: 30px !important;
}
.mat-paginator-page-size, .mat-paginator-range-label {
  display: none !important;
}
.mat-progress-bar-fill::after {
  background-color: #009688 !important;
}
.mat-progress-bar-buffer {
  background-color: #b2dfdb !important;
}
.card-header {
  background: none !important;
  border: none !important;
  padding: 20px !important;
}
.mat-drawer-content {
  overflow: hidden !important;
}
