<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="centre tdunder">{{'Notif' | translate}}</th>

          </tr>
        </thead>
        <tbody class="clienttbl">
          <tr *ngFor="let notification of fetchedNotifications" [routerLink]="['/notification/' + notification._id]" [ngClass]="{'isRead':!notification.isRead, '': notification.isRead}" routerLinkActive="active">

            <td class="centre tdunder">{{notification.nameNotification}}</td>

          </tr>
        </tbody>
      </table>

      <div>
        <mat-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
        <app-loadingInApp *ngIf="loading"></app-loadingInApp>

      </div>
    </div>
  </div>
</div>
