<div class="single-wrpr beigeback">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
    <p>Please enter your email below and we will send you password reset instructions.</p>
    <div class="input-group">
      <input #userEmail type="text" formControlName="email" placeholder="Email" class="form-control" autofocus autocapitalize="none"
             autocomplete="off"
             spellcheck="false"
             autocorrect="none">
    </div>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email</div>
    <span class="help-block"></span>
    <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Send</button>
    <p>Still having trouble? <a href="mailto:mychairCS@phyto-usa.com">Contact the Administrator</a>.</p>
  </form>
</div>
