<div class="single-wrpr">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
    <p #newPassword >Please enter a new password and press submit.</p>
    <span class="help-block"></span>
    <div class="input-group">
      <input type="password" formControlName="password" name="password" id="password" placeholder="Password" class="form-control">
    </div>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must contain at least 6 characters</div>
    <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Submit</button>
  </form>
</div>
