
<div class="container">

  <app-header [showHeader]="'true'" [nameObject]="'task'" [showCreateButton]='false'>
  </app-header>


  <div class='row'>
    <app-autocomplete [typeAutocomplete]="'project'" [title]="''" [singleChoice]="'true'" [arrayContent]="fetchedProjects" (getResultAutocomplete)="selectProject($event[0])" (clearAutocomplete)="clearAutocomplete()">
    </app-autocomplete>
  </div>


  <div *ngIf="fetchedProject._id">
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="(fetchedProject.progressTasks)*100 + '%'"  aria-valuemin="0" aria-valuemax="100">
        {{fetchedProject.progressTasks * 100 | round }}%
      </div>
    </div>


    <div class='row'>
      <div *ngFor='let bucketTask of fetchedProject.bucketTasks; let bucketTaskIndex = index;'>
        <table class="form-control col-md-8">
          <tr>
            <td class="tdbtn1">

              {{bucketTask.bucketName}}
            </td>
            <td class="tdbtn7"><button type="button" class="btn btn-danger btn-sm ferme" (click)="deleteBucketTask(bucketTaskIndex)">X</button>
            </td>
          </tr>
        </table>

        <div class='container form-control' [dragulaModel]='fetchedProject.bucketTasks[bucketTaskIndex].tasks' [dragula]='"nested-bag"'>
          <div *ngFor='let task of bucketTask.tasks; let taskIndex = index;' class="move form-control btn-outline-info" (click)='onClick(bucketTaskIndex, taskIndex)' >
            <table>
              <tr>
                <td class="tdbtn3">
                  <div *ngFor='let user of task.users' class="round" [style.background-color]="user.profile.colorCalendar">
                  </div>
                </td>
                <td class="tdbtn4">{{task.title}}</td>
                <td class="tdbtn5">
                  <div *ngIf="task.status == 'done'" class="round" [style.background-color]="'#5BC75C'"></div>
                  <div *ngIf="task.status == 'pending'" class="round" [style.background-color]="'#EC971F'"></div>
                  <div *ngIf="task.status == ''" class="round" [style.background-color]="'#F5F5F5'"></div>


                </td>
                <td class="tdbtn6"><button type="button" class="btn btn-danger btn-sm ferme"
                  (click)="deleteTask(task, bucketTaskIndex, taskIndex)">X</button></td>
              </tr>
            </table>
          </div>


          <div *ngIf="bucketTask.openNewTask">
            <input class="form-control" type="text" (keyup.enter)="addTask(content.value, bucketTaskIndex)" (focusout)="saveTask(content.value, bucketTaskIndex)" #content>
            <!-- <button (click)="saveTask(bucketTaskIndex, taskIndex)">Add</button> -->
          </div>
          <button type="button" class="btn btn-success" *ngIf="!bucketTask.openNewTask" (click)="newTask(bucketTaskIndex)">
            <i class="fa fa-plus"></i> Create Task
          </button>
        </div>
      </div>

      <div>
        <input class="form-control" type="text" #newBucketTaskInput (keyup.enter)="newBucketTaskF(newBucketTaskInput.value);newBucketTaskInput.value='';" placeholder="Name bucket">
      </div>
    </div>


    <div *ngFor='let bucketTask of fetchedProject.bucketTasks; let bucketTaskIndex = index;'>
      <div *ngFor='let task of bucketTask.tasks; let taskIndex = index;'>
        <div *ngIf="task.editMode">
          <input type="text"
          class="form-control"
          (focusout)="saveTask(task, bucketTaskIndex)"
          [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].title"
          placeholder="{{'Task Name' | translate}}"
          (keyup.enter)="saveTask(task, bucketTaskIndex)">


          <select class="form-control" (focusout)="saveTask(task, taskIndex)" [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].status">
            <option *ngFor="let n of statusTypes" [attr.value]="n.value">{{n.label}}</option>
          </select>
          <!--
        <input
          type="text"
          class="form-control"
          (focusout)="saveTask(bucketTaskIndex, taskIndex)"
          [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].title"
          placeholder="Nom du fournisseur"
          (keyup.enter)="saveTask(bucketTaskIndex, taskIndex)"
        > -->

          <textarea class="form-control" (focusout)="saveTask(task, taskIndex)" [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].description" placeholder="Description">
          </textarea>
          <app-autocomplete [typeAutocomplete]="'user'" [singleChoice]="'true'" [arrayContent]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].users" (getResultAutocomplete)="selectAssignedTo($event, bucketTaskIndex, taskIndex)">
          </app-autocomplete>
          <input type="date" class="form-control" (focusout)="saveTask(task, taskIndex)" [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].startString">
          <input type="date" class="form-control" (focusout)="saveTask(task, taskIndex)" [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].endString">
          <button type="button" class="btn btn-success" (click)="saveTask(task, taskIndex)">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
