<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Account Settings</h3>
  </div>
  <div class="single-wrpr beigeback">
    <p>Update Your Account Information:</p>
    <form [formGroup]="myForm" (ngSubmit)="save()" class="" novalidate>
      <div class="input-group">
        <input
          type="text"
          placeholder="Email"
          formControlName="email"
          [(ngModel)]="fetchedUser.email"
          class="form-control">
      </div>
      <div class="input-group">
        <input
          type="text"
          placeholder="Phone Number"
          class="form-control"
          formControlName="phoneNumber"
          [(ngModel)]="fetchedUser.profile.phoneNumber" >
      </div>
      <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Done</button>
    </form>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="" novalidate>
      <p class="blue">Change Your Password</p>
      <div class="input-group">
        <input #userPassword type="password" formControlName="currentPassword" placeholder="Current Password" class="form-control">
      </div>
      <div [hidden]="currentPassword.valid || currentPassword.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
      <div class="input-group">
        <input type="password" formControlName="newPassword" placeholder="New Password" class="form-control">
      </div>
      <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
        Password must contain 6 or more characters
      </div>
      <button type="submit" [disabled]="!resetPasswordForm.valid" [ngClass]="{'done':resetPasswordForm.valid,'pas-done':!resetPasswordForm.valid}">Done</button>
    </form>
  </div>
</div>
